body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
.input-lg {
  padding: 0 15px;
}

.main {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eee;
  padding: 20px 60px;
  border-radius: 6px;
}
#total span:first-child {
  margin-right: 30px;
}
#total span:nth-child(2) {
  margin-right: 90px;
}
.btn {
  margin-top: 15px;
}